<body style="margin-top:120px">

<i class="icon-th-list icon-2x pull-left icon-border"></i>
<h3>Opciones</h3>
<br clear="all" /><br/>


  <table class="table table-striped">
    <tr>
      <th>Nombre</th>
      <th>Valor</th>
      <th></th>
    </tr>

  <% @options.each do |option| %>
    <tr>
      <td><%= option.key %></td>
      <td><%= option.value %></td>
      <td><%= link_to 'Editar', "/options/editar/" + option.id.to_s, :class => "btn" %></td>
    </tr>
  <% end %>
  </table>

</body>