@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.anchor{
	display: block;
	float: left;
	height: 79px;
	margin-top: -79px;
	visibility: hidden;
	border: dashed 1px red;
}

@font-face {
    font-family: 'freeroadregular';
    src: url('fonts/freeroad-webfont.eot');
    src: url('fonts/freeroad-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freeroad-webfont.woff') format('woff'),
         url('fonts/freeroad-webfont.ttf') format('truetype'),
         url('fonts/freeroad-webfont.svg#freeroadregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;	
}

h2 {
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	font-size: 14px;	
	font-weight: 600px;
	margin-left: 15px;
	color: #5a5959;
	text-transform: uppercase;
}

h3 {
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	font-size: 18px;	
	font-weight: 600px;
	margin-left: 15px;
	padding-top: 20px;
	color: #5a5959;
	text-transform: uppercase;
}

h4 {
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	font-size: 37px;
	font-weight: 700;
	text-align: left;
	color: #AFAEAE;
	text-transform: uppercase;
	line-height: 39px;
	margin-top: 40px;
	width: 800px;
	float: left;
}

h5 {
	width: 900px;
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	font-size: 16px;	
	font-weight: 600px;
	margin-left: 15px;
	padding-top: 20px;
	color: #5a5959;
	text-transform: uppercase;	
}

h6 {
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	font-size: 15px;	
	font-weight: 600px;
	margin-left: 15px;
	padding-top: 30px;
	color: #5a5959;
}

#wrap {
	width: 940px;
	height: 5200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.shorter {
	height: 3000px!important;
}

#header {
	width: 940px;
	height: 79px;
	position: fixed;
	top: 0;
	background: #FFF;
	padding-top: 30px;
	z-index:1000;
}

#navBar {
    float: right;
	margin-top: -7px;
    font-size: 16px;
    background: #FFF;
	width: auto;
	width: 660px\9;
	display: block;
}

#navBar, #navBar ul {
    list-style: none;
}

#navBar > li {
    float: left;
}

#navBar li a {
	display: block;
    height: 2em;
    line-height: 2em;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
		padding-left: 12px\9;
	padding-right: 0;
    text-decoration: none;
}

#navBar ul {
    position: absolute;
    display: none;
	z-index: 999;
}

#navBar ul li a {
    width: 80px;
}

#navBar li:hover ul {
    display: block;
}

#navBar > li > a {
	font-family: 'freeroadregular',Arial,Helvetica,sans-serif;
    color: #000000;
	text-transform: uppercase;
}

#navBar > li.hov:hover > a {
    color: #97be0c;
	background: none;
}

#navBar > li.hov:active > a {
    color: grey;
}

#navBar li a.hover{
	background: #92318b;
    color: #FFF;
}

#socialNav, #socialNav ul {
    list-style: none;
}

#socialNav {
	float: right;
	margin-top: -25px;
	background: #FFF;
	width: 310px;
	clear: both;
}

#socialNav > li {
    float: right;
}

#socialNav li a {
	display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 5px;
	padding-left: 5px;
	padding-right: 0;
}

#socialNav ul {
	position: absolute;
	display: none;
	z-index: 999;
}

#socialNav li:hover ul {
	display: block;
}

#socialNav a {
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}

#socialNav a:hover {
	opacity: .5;	
}

.iosSlider {
	width: 940px;
	height: 314px;
	margin-top: 100px;
}
			
.iosSlider .slider {
	width: 100%;
	height: 100%;
}
		
.iosSlider .slider .item {
	position: relative;
	top: 0;
	left: 0;
	width: 940px;
	height: 314px;
	background: #fff;
	margin: 0 0 0 0;
}
			
.iosSlider .slider #item1 {
	background: url(slider/h-slider-1.jpg) no-repeat 50% 0;
}
			
.iosSlider .slider #item2 {
	background: url(slider/h-slider-2.jpg) no-repeat 50% 0;
}
			
.iosSlider .slider #item3 {
	background: url(slider/h-slider-3.jpg) no-repeat 50% 0;
}
			
.iosSlider .slider #item4 {
	background: url(slider/h-slider-4.jpg) no-repeat 50% 0;
}
		
.iosSlider .slider .item .text1 {
	position: absolute;
	top: 214px;
	right: 10px!important;
	opacity: 0;
	filter: alpha(opacity:0);
	background: rgba(0, 0, 0, 0.5);
	text-align: right;
}
			
.iosSlider .slider .item .text1 span {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35px;
	padding: 0 8px;
}
			
.iosSlider .slider .item .text2 {
	position: absolute;
	top: 90px;
	right: 0;
	opacity: 0;
	filter: alpha(opacity:0);
	background: #000;
	padding: 5px 7px 7px 7px;
}
			
.iosSlider .slider .item .text2 span {
	color: #fff;
	font: normal 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;	
}
			
.iosSliderButtons {
	position: absolute;
	bottom: 10px;
	left: 855px;
	width: 200px;
	height: 10px;
}
			
.iosSliderButtons .button {
	float: left;
	width: 9px;
	height: 9px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background: #E5E4E4;
	margin: 0 10px 0 0;
}
			
.iosSliderButtons .selected {
	background: #000;
	opacity: 1;
	filter: alpha(opacity:100);
}

#encuesta {
	width: 255px;
	height: 314px;
	position: absolute;
	top: 130px;
	left: 25px;
	background: url(encuesta.png) repeat left top;
	z-index: 1;
}

#video {
	float: left;
	width: 470px;
	height: 330px;
	margin-top: 50px;
	position: relative;
	background: #E5E4E4;
}

#video #vimeo {
	margin-left: 14px;
	margin-top:20px;	
}

#postulate {
	float: right;
	width: 450px;
	height: 330px;
	margin-top: 50px;
	position: relative;
	background: #FFFFFF;
}

#postulate .reminders {
	width: 450px;
	height: 95px;
	margin-bottom: 22px;
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#postulate .reminders.uno {
	background: #E5E4E4;
	text-decoration: none;
	color: #5A5959;
}

#postulate .reminders.uno:hover {
	background: #97be0c;
	text-decoration: none;
	color: #FFF;
}

#postulate .reminders.dos {
	background: #E5E4E4;
	text-decoration: none;
	color: #5A5959;
}

#postulate .reminders.dos:hover {
	background: #ec008c;
	text-decoration: none;
	color: #FFF;
}

#postulate .reminders.tres {
	background: #E5E4E4;
	text-decoration: none;
	color: #5A5959;
}

#postulate .reminders.tres:hover {
	background: #00aeef;
	text-decoration: none;
	color: #FFF;
}

#postulate .reminders span.first {
	position: absolute;
	top: 30px;
	left: 15px;
}

#postulate .reminders span.second {
	position: absolute;
	top: 135px;
	left: 15px;	
}

#postulate .reminders span.third {
	position: absolute;
	top: 250px;
	left: 15px;	
}

#postulate ul {
	width: 415px;	
	margin-top: 14px;
	margin-left: 30px;
	list-style: square;
	line-height: 30px;
}

#postulate ul li {
	font-size: 15px;	
}
 
#twitter {
	float: left;
	width: 100%;
	height: 41px;
	margin-top: 20px;
	position: relative;
	background: url(twitter.gif) no-repeat top left;
	background-color: #E5E4E4;	
	clear: both;
}

#twitter li {
	color: #000000;
    font-size: 12px;
    line-height: 15px;
    margin-left: 180px;
    margin-top: 5px;
    max-width: 730px;
    text-align: left;
}

#que, #porque, #faq, #voluntarios, #voluntarios2, #contacto, #info, #mapa, #caridad, #sponsors {
	float: left;
	width: 940px;
	height: auto;
	margin-top: 20px;
	position: relative;
	background: #E5E4E4;
}

#voluntarios {
	padding-bottom: 25px;	
}

#voluntarios2 {
	padding-bottom: 25px;	
}

#faq p {
	width: 900px;	
	margin-bottom: 30px;
	margin-top: 10px;
}

p {
	font-size: 15px;
	color: #000;
	width: 630px;
	margin-left: 15px;
	margin-top: 30px;
	line-height: 22px;
	float: left;
	text-align: justify;
}

#contacto p {
	font-size: 15px;
	color: #000;
	width: 630px;
	margin-left: 15px;
	margin-top: 10px;
	line-height: 22px;
	float: left;
	text-align: justify;
}

#contacto p + p{
	margin-bottom: 30px;	
}

#que img, #porque img {
	width: 230px;
	height: 442px;
	margin-top: -37px;
	margin-left: 60px;
}

#voluntarios img, #voluntarios2 img {
	float: right;
	width: 230px;
	height: 225px;
	margin-top: -188px;
		margin-top: -200px\9;
	margin-left: 60px;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #voluntarios img, #voluntarios2 img  { margin-top: -200px;  }
}

#contacto img {
	float: right;
	width: 230px;
	height: 442px;
	margin-top: -490px;
		margin-top: -480px\9;
	margin-left: 60px;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #contacto img  { margin-top: -480px;  }
}

#gototop a{
	display: block;
    display: none;
	position: fixed;
	width: 80px;
	height: 72px;
	bottom: 0;
	right: 10px;	
	background: url(top.png) no-repeat;
	text-indent: -9999px;
}

#gototop a:hover {
	background: url(topHover.png) no-repeat;	
}

.form-all {
    list-style: none;
    list-style-position: outside;
    margin: 0px;
	font-size:14px;
	color:#000;
	font-family: 'Dosis', sans-serif;
}

#voluntarios #id_5.form-line, #voluntarios2 #id_5.form-line {
	width: 600px!important;
}

#voluntarios #id_2.form-line, #voluntarios2 #id_2.form-line {
	width: 350px!important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #voluntarios .form-line, #voluntarios2 .form-line { width: 309px!important; }

}

#voluntarios .form-line, #voluntarios2 .form-line {
	width: 560px;
	display: block;
}

.volMain input, .homeContacto input {
	width: 507px;
	height: 30px;	
	padding-left: 10px;
	border: none;
}

.form-textarea {
	border: none;
	text-indent: 10px;	
}

.volMain select {
	width: 517px;
	height: 30px;
	padding: 6px;
}

.volMain input:focus, .homeContacto input:focus {
	background: #97BE0C;
	color: #FFF;	
	border: none;
}

.form-submit-button {
	margin: 0px;    
	overflow: visible;
	padding: 1px 6px;
	width: auto;
}
.form-submit-button::-moz-focus-inner, .form-submit-reset::-moz-focus-inner{
	border: 0px;
	padding: 1px 6px;
}

.form-submit-button {
	border:1px solid #ccc;
	padding:6px 12px;
	color:#666;
	text-shadow:0 1px #fff;
	cursor:pointer;
	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px 3px;
	-moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
	-webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
	box-shadow: 0 1px #fff inset, 0 1px #ddd;
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%); 
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	background: linear-gradient(top,  #f5f5f5 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
}

.form-submit-button:hover {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

.form-submit-button:active {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	background: linear-gradient(top,  #eeeeee 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f5f5f5',GradientType=0 );
	-moz-box-shadow: 0 1px #fff inset;
	-webkit-box-shadow: 0 1px #fff inset;
	box-shadow: 0 1px #fff inset;
}

.form-submit-button {
	color:#333;
	font-size:1em;
	margin-top: 5px;
	margin-bottom:12px;
}

.form-header {
    margin:0px;
}

.form-header-group{
    background: transparent;
	border: none;
    padding:12px;
	clear:both;
}

label {
    width: 520px;
    margin-bottom: 6px;
    display:inline-block;
    white-space:normal;
    margin-bottom:9px;
    margin-left:2px;
	font-weight: bold;
    display:inline-block;
    white-space:normal;
}

.form-section {
    list-style:none;
    list-style-position:outside;
	margin-left: 7px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
    position: relative;
    zoom: 1;
    clear: both;
}

.form-input {
   display:inline-block;
}

.form-line {    
	clear:both;
	padding:10px;
	display:block;
    width:-moz-available;
    position:relative;
	margin: -7px 0;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#inscribite, #race {
	width: 940px;
	margin-top: 100px;
}

.locationIntro {
	width: 940px;
	margin-left: 0;
	margin-bottom: 30px;
}

table.locations {
	background: #E5E4E4;
	border-collapse: collapse;
	border-bottom: 1px solid #EEEEEE;
    border-collapse: collapse;
    border-style: solid outset;
    border-top: 1px solid #EEEEEE;
    border-width: 1px 0;
    line-height: 2em;
    margin: 0;
    text-align: left;
    vertical-align: top;
    width: 940px;
}

table.locations tr {
	height: 35px;
}

table.locations td {
	width: 33%;
	height: 25px;
	padding: 6px;
	vertical-align: middle;
	border-bottom: 1px solid #EEEEEE;
}

table.locations thead {
	background: none repeat scroll 0 0 #bababa;
    border-bottom: 1px solid #EEEEEE;
    color: #5A5959;
	font-family: 'freeroadregular',Arial,Helvetica,sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 2;
    padding: 4px;
    text-align: left;
    text-transform: none;
}

table.locations th {
	padding: 5px;
	vertical-align: middle;
}

table.locations a {
	color: #5A5959;
	text-decoration: none;
}

table.locations a:hover {
	color: #97be0c;
	text-decoration: underline;
}

div.locations_table a {
	color: #ec008c;
	text-decoration: none;
}

div.locations_table a:hover {
	color: #00aeef;
	text-decoration: underline;
}

.raceNav {
	width: 940px;
	height: 50px;
	margin-top: 30px;
}

#race h4 {
	font-family: 'freeroadregular', Arial, Helvetica, sans-serif;
	font-size: 37px;
	font-weight: 700;
	text-align: center;
	color: #AFAEAE;
	text-transform: uppercase;
	line-height: 39px;
	margin-top: 40px;
	width: 940px;
}

.raceNav ul li {
	display: inline-block;
	margin-right: 10px;
}

.raceNav ul li a {
	font-family: 'freeroadregular',Arial,Helvetica,sans-serif;
    color: #FFF;
	text-transform: uppercase;
	background: #000;
	padding: 10px;
	border-radius: 5px;
}

.raceNav ul li a:hover {
	background: #97BE0C;
}

.raceNav ul li a.green {
	background: #97BE0C;
}

.raceNav ul li.inscribiteBtn {
	position: absolute;
	top: 340px;
	right: 0;
	margin-right: 0;
}

.raceNav ul li.inscribiteBtn a {
	padding: 20px;
	background: #97BE0C;
	font-size: 25px;
}

.raceNav ul li.inscribiteBtn a:hover {
	background: #87ab05;
}

#race p {
	width: 900px;
	margin-bottom: 30px;
}

#info p {
	margin-bottom: 0;
}

.inscribite {
	margin-top: 20px;	
}

#caridad ul, #sponsors ul {
	width: 900px;
	margin: 25px auto 0px;	
}

#caridad ul li, #sponsors ul li {
	width: 200px;
	height: 150px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 25px;
	background: black;
	display: inline-block;
}

#sponsors ul h6 {
	margin-left: 10px;
	padding-top: 0;
	margin-bottom: 5px;	
}

#footer {
	position: fixed;
	width: 940px;
	height: 130px;
	bottom: 0;	
}

.pdf {
	width: 452px;
	height: 130px;
	float: left;
	margin-left: -8px;
}

.inscribite2 {
	width: 452px;
	height: 130px;
	float: right;
}

.pdf p {
	font-family: 'freeroadregular',Arial,Helvetica,sans-serif;
    color: #FFF;
	text-transform: uppercase;	
	text-align: center;
	margin-bottom: 0!important;
	margin-top: 10px;	
}

#mapa iframe {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 30px;	
}

.marginMore {
	margin-top: 160px!important;	
}

#frase {
	width: 940px;
	height: 120px;
	position: relative;
}

#frase .inscribiteBtn {
	position: absolute;
	top: 67px;
	right: 0;
}

#frase .inscribiteBtn a {
	font-family: 'freeroadregular',Arial,Helvetica,sans-serif;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-size: 20px;
	background: #97be0c;
	border-radius: 5px;
}

#frase .inscribiteBtn a:hover {
	background: #87ab05;
}
